@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    /* Accent Colors (blue) */
    --color-accent-rgb-50: 226 245 254;
    --color-accent-rgb-100: 183 230 252;
    --color-accent-rgb-200: 137 214 250;
    --color-accent-rgb-300: 95 197 246;
    --color-accent-rgb-400: 70 185 244;
    --color-accent-rgb-500: 57 172 242;
    --color-accent-rgb-600: 53 158 226;
    --color-accent-rgb-700: 48 139 206;
    --color-accent-rgb-800: 44 122 186;
    /* main */
    --color-accent-rgb-900: 36 90 151;
    --color-accent-hex-50: #e2f5fe;
    --color-accent-hex-100: #b7e6fc;
    --color-accent-hex-200: #89d6fa;
    --color-accent-hex-300: #5fc5f6;
    --color-accent-hex-400: #46b9f4;
    --color-accent-hex-500: #39acf2;
    --color-accent-hex-600: #359ee2;
    --color-accent-hex-700: #308bce;
    --color-accent-hex-800: #2c7aba;
    /* main */
    --color-accent-hex-900: #245a97;

    /* Primary (gray) */
    --color-primary-dark-rgb-50: 249 250 251;
    --color-primary-dark-rgb-100: 243 244 246;
    --color-primary-dark-rgb-200: 229 231 235;
    --color-primary-dark-rgb-300: 209 213 219;
    --color-primary-dark-rgb-400: 156 163 175;
    --color-primary-dark-rgb-500: 107 114 128;
    --color-primary-dark-rgb-600: 75 85 99;
    --color-primary-dark-rgb-700: 55 65 81;
    --color-primary-dark-rgb-800: 31 41 55;
    --color-primary-dark-rgb-900: 17 24 39;
    --color-primary-dark-rgb-950: 3 7 18;

    --color-primary-dark-rgb-75: 246 247 248;
    --color-primary-dark-rgb-150: 236 237 240;
    --color-primary-dark-rgb-925: 10 16 29;
    
    --color-primary-dark-hex-50: #f9fafb;
    --color-primary-dark-hex-100: #f3f4f6;
    --color-primary-dark-hex-200: #e5e7eb;
    --color-primary-dark-hex-300: #d1d5db;
    --color-primary-dark-hex-400: #9ca3af;
    --color-primary-dark-hex-500: #6b7280;
    --color-primary-dark-hex-600: #4b5563;
    --color-primary-dark-hex-700: #374151;
    --color-primary-dark-hex-800: #1f2937;
    --color-primary-dark-hex-900: #111827;
    --color-primary-dark-hex-950: #030712;

    --color-primary-dark-hex-75: #f6f7f8;
    --color-primary-dark-hex-150: #ecedf0;
    --color-primary-dark-hex-925: #0d162b;

    /* Reds */
    --color-red-rgb-50: 254 242 242;
    --color-red-rgb-100: 254 226 226;
    --olor-red-rgb-200: 254 202 202;
    --color-red-rgb-300: 252 165 165;
    --color-red-rgb-400: 248 113 113;
    --color-red-rgb-500: 239 68 68;
    --color-red-rgb-600: 220 38 38;
    --color-red-rgb-700: 185 28 28;
    --color-red-rgb-800: 153 27 27;
    --color-red-rgb-900: 124 45 18;
    --color-red-rgb-950: 69 10 10;
    --color-red-hex-50: #fef2f2;
    --color-red-hex-100: #fee2e2;
    --color-red-hex-200: #fecaca;
    --color-red-hex-300: #fca5a5;
    --color-red-hex-400: #f87171;
    --color-red-hex-500: #ef4444;
    --color-red-hex-600: #dc2626;
    --color-red-hex-700: #b91c1c;
    --color-red-hex-800: #991b1b;
    --color-red-hex-900: #7c2d12;
    --color-red-hex-950: #450a0a;

    /* Greens */
    --color-green-hex-50: #f0fdf4;
    --color-green-hex-100: #dcfce7;
    --color-green-hex-200: #bbf7d0;
    --color-green-hex-300: #86efac;
    --color-green-hex-400: #4ade80;
    --color-green-hex-500: #22c55e;
    --color-green-hex-600: #16a34a;
    --color-green-hex-700: #15803d;
    --color-green-hex-800: #166534;
    --color-green-hex-900: #14532d;
    --color-green-hex-950: #052e16;

    /* Oranges */
    --color-orange-hex-50: #fff7ed;
    --color-orange-hex-100: #ffedd5;
    --color-orange-hex-200: #fed7aa;
    --color-orange-hex-300: #fdba74;
    --color-orange-hex-400: #fb923c;
    --color-orange-hex-500: #f97316;
    --color-orange-hex-600: #ea580c;
    --color-orange-hex-700: #c2410c;
    --color-orange-hex-800: #9a3412;
    --color-orange-hex-900: #7c2d12;
    --color-orange-hex-950: #431407;

    --color-graph-hex-blue: var(--color-accent-hex-800);
    --color-graph-hex-green: var(--color-green-hex-500);
    --color-graph-hex-red: var(--color-red-hex-500);
    --color-graph-hex-orange: var(--color-orange-hex-600);
    --color-graph-hex-light-orange: var(--color-orange-hex-200);
    --color-graph-hex-light-blue: var(--color-accent-hex-200);

    --color-graph-blue: blue;
    --color-graph-green: green;
    --color-graph-red: red;

    /* 44 122 186; */
    --color-scrollbar-track-light: var(--color-primary-dark-hex-300);
    --color-scrollbar-track-dark: var(--color-primary-dark-hex-800);

    --skeleton-base-color: rgb(var(--color-primary-dark-rgb-600) / 1);
    --skeleton-highlight-color: rgb(var(--color-primary-dark-rgb-500) / 1);
    --skeleton-base-color-light: rgb(var(--color-primary-dark-rgb-400) / 1);
    --skeleton-highlight-color-light: rgb(var(--color-primary-dark-rgb-300) / 1);

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

[data-theme='dark'] {
  background-color: var(--color-primary-dark-hex-800);
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
  font-weight: 500;
}

#root > div {
  height: 100%;
}

.logo-btn{
  height: 35px !important;
  width: 35px !important;
  min-height: unset !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: rgb(var(--color-accent-800) / 1);
}

.dark ::-webkit-scrollbar-track {
  background: rgb(var(--color-scrollbar-track-dark) / 1);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  /* rgb(44, 122, 186); */
  background: rgb(var(--color-accent-800) / 1); 

}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-accent-900) / 1);
}

.page-component {
  max-height: calc(100vh - 48px);
  overflow-y: auto;
  /* padding-bottom: 100px!important; */
}

code {
  background: rgb(var(--color-primary-dark-200) / 1); 
  padding: 5px;
}

.card-responsive-value {
  font-size: clamp(1rem, 3.75rem, 3.75rem); /* Adjust the 3.75rem middle value as needed. clamp(min, preferred, max) */
  display: flex; /* Set the element as a flex container */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  overflow: hidden; /* Hide any content that overflows */
  box-sizing: border-box; /* Consider padding and border in the width calculation */
  width: 100%; /* Ensure the element takes full width */
}

.card-responsive-value > h2 {
  width: fit-content; /* Calculate the ideal width for the content */
}

.carousel-item:not(.current-slide) img {
    filter: grayscale(100%);
  }

.embla {
  overflow: hidden;
  --mask: linear-gradient(to right, 
    rgba(0,0,0, 0) 0, rgba(0,0,0, 1) 0.5in, 
    rgba(0,0,0, 1) calc(100% - 0.5in), rgba(0,0,0, 0) 100%
  ) 100% 50% / 100% 100% repeat-x;
  -webkit-mask: var(--mask); 
  mask: var(--mask);
}

.embla__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 600px;
  grid-column-gap: 20px;
}


.single-break {
    break-after: always;
}

.double-break {
    margin-bottom: 1.6rem; /* Adjust based on your font-size */
}

.allow-column-break {
    break-inside: auto;
}

svg {
  display: unset;
  vertical-align: unset;
}

.tooltip {
    z-index: 1000;
}

.modal {
  /* Other modal styles */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  /* Other modal box styles */
  max-height: 80vh;
  /* Set max height for modal box */
  /* overflow-y: auto; */
  /* Enable vertical scrolling */
}
.modal-text-container {
  max-height: 400px;
  /* Set max height for the modal text container */
  overflow-y: auto;
  /* Enable vertical scrolling */
}
.modal-text {
  /* Other modal text styles */
  max-height: 100%;
  /* Set max height for modal text */
  /* overflow-y: auto; */
  /* Enable vertical scrolling */
}

.transition-height {
  transition: height 300ms ease-in-out;
}

.page-component {
  height: 100%;
}

.cursor-col-resize {
  cursor: col-resize;
}

.collapse-content {
  transition: transform 5s ease, opacity 5s ease;
}

.collapse-content > div {
  transition: transform 5s ease, opacity 5s ease;
}

/* DARK */
/* *********************************************************************** */
.ag-theme-material.ag-theme-material.dark {
  --ag-foreground-color: white;
  --ag-background-color: var(--color-primary-dark-hex-700);
  --ag-odd-row-background-color: rgb(var(--color-primary-dark-rgb-600));
  --ag-header-foreground-color: white;
  --ag-header-background-color: var(--color-primary-dark-hex-800);
  --ag-header-column-resize-handle-color: var(--color-primary-dark-hex-950);
  --ag-header-cell-hover-background-color: var(--color-primary-dark-hex-700);
  --ag-header-cell-hover-foreground-color: white;
  --ag-selected-row-background-color:rgb(var(--color-primary-dark-rgb-800));
  --ag-borders: none;
  --ag-font-size: 14px;
  --ag-font-family: 'Roboto', sans-serif;
}

.ag-theme-material.ag-theme-material.dark .ag-header-row,
.ag-theme-material.ag-theme-material.dark .ag-paging-panel {
  color: var(--ag-header-foreground-color);
  background-color: var(--ag-header-background-color);
}

.ag-theme-material.ag-theme-material.dark .ag-row-hover::before,
.ag-theme-material.ag-theme-material.dark .ag-row-hover {
    color: white;
    background-color: rgb(var(--color-primary-dark-rgb-800));
}

.ag-theme-material.ag-theme-material.dark .ag-row-focus.ag-row-hover::before {
    color: white;
    background-color: rgb(var(--color-primary-dark-rgb-900));
}

.ag-theme-material.ag-theme-material.dark .ag-row-focus {
  color: white;
  background-color: rgb(var(--color-primary-dark-rgb-800));
}

.ag-theme-material.ag-theme-material.dark .ag-row-no-focus {
  color: white;
}
.ag-theme-material.ag-theme-material.dark .ag-paging-panel {
  color: white;
}

.ag-theme-material.ag-theme-material.dark .ag-header-cell:hover .ag-icon {
    color: white;
}
/* *********************************************************************** */





/* LIGHT */
/* *********************************************************************** */
.ag-theme-material.ag-theme-material {
  --ag-foreground-color: black;
  --ag-background-color: white;
  --ag-odd-row-background-color: rgb(var(--color-primary-dark-rgb-100));
  --ag-header-foreground-color: black;
  --ag-header-background-color: var(--color-primary-dark-hex-200);
  --ag-header-column-resize-handle-color: var(--color-primary-dark-hex-50);
  --ag-header-cell-hover-background-color: var(--color-primary-dark-hex-300);
  --ag-header-cell-hover-foreground-color: black;
  --ag-selected-row-background-color: rgb(var(--color-primary-dark-rgb-200));
  --ag-borders: none;
  --ag-font-size: 14px;
  --ag-font-family: 'Roboto', sans-serif;
}

.ag-theme-material.ag-theme-material .ag-header-row,
.ag-theme-material.ag-theme-material .ag-paging-panel {
  color: var(--ag-header-foreground-color);
  background-color: var(--ag-header-background-color);
}

.ag-theme-material.ag-theme-material .ag-row-hover::before,
.ag-theme-material.ag-theme-material .ag-row-hover {
  color: black;
  background-color: rgb(var(--color-primary-dark-rgb-200));
}

.ag-theme-material.ag-theme-material .ag-row-focus.ag-row-hover::before {
  color: black;
  background-color: rgb(var(--color-primary-dark-rgb-100));
}

.ag-theme-material.ag-theme-material .ag-row-focus {
  color: black;
  background-color: rgb(var(--color-primary-dark-rgb-200));
}

.ag-theme-material.ag-theme-material .ag-row,
.ag-theme-material.ag-theme-material .ag-header,
.ag-theme-material.ag-theme-material .ag-paging-panel {
  border: none;
}

.ag-theme-material.ag-theme-material .ag-row-no-focus {
  color: black;
}

.ag-theme-material.ag-theme-material .ag-paging-panel {
  color: black;
}

.ag-theme-material.ag-theme-material .ag-header-cell:hover .ag-icon {
  color: black;
}
/* *********************************************************************** */

